html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, serif;
    font-size: 1.1rem;
    font-weight: 500;
}

body {
    padding: 0;
    margin: 0;
    background-color: #EEEEE7;
}

:root {
    --main-black: #333;
    --odd-color: #acefe0;
    --even-color: #ADD8E6;
}

.app-name {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.app {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.canvas {
    display: none;
}

.app__table {
    display: none;
    border: 1px solid var(--main-black);
    text-align: center;
    border-collapse: collapse;
}

tbody tr:nth-child(odd) {
    background-color: var(--odd-color);
}

tbody tr:nth-child(even) {
    background-color: var(--even-color);
}

.info__block, .result{
    display: none;
    flex-direction: column;
    align-items: center;
    width: 650px;
    text-align: center;
}

.player-init {
    display: none;
    width: 320px;
    justify-content: space-between;
}

.show-game {
    display: none;
    width: 360px;
    justify-content: space-between;
}

.gameList {
    display: flex;
    gap: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: auto;
    margin-bottom: 20px;
}

.gameList-handler__block {
    display: flex;
    gap: 4px;
    justify-content: center;
    margin-bottom: 20px;
}

.gameTable-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.active {
    display: flex;
}